[submodule "President"]
	path = President
	url = git://github.com/Wambou/President.git
[submodule "DSS"]
	path = DSS
	url = git://github.com/Wambou/DSS.git
[submodule "ProgLangTech"]
	path = ProgLangTech
	url = git://github.com/Petrolevb/ProgLangTech.git
[submodule "Functional-Programming"]
	path = Functional-Programming
	url = git://github.com/Petrolevb/Functional-Programming.git
[submodule "CompilerConstruction"]
	path = CompilerConstruction
	url = git://github.com/Petrolevb/CompilerConstruction.git
[submodule "aqua-energizer"]
	path = aqua-energizer
	url = http://code.google.com/p/aqua-energizer
[submodule "avatar-opengl"]
	path = avatar-opengl
	url = http://code.google.com/p/avatar-opengl/
[submodule "demineur-projet-ihm"]
	path = demineur-projet-ihm
	url = http://code.google.com/p/demineur-projet-ihm/
[submodule "syteme-projet-s6"]
	path = syteme-projet-s6
	url = http://code.google.com/p/syteme-projet-s6/
